<!doctype html>
<html>
<head>
    <title>Joker's Journal</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="uploadLog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5429a7e2cf.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar">something</span>
          <span class="icon-bar">else</span>
          <span class="icon-bar">here</span>
        </button>
        <a href="/profile"><img id="hat" src="img/HOME.png" class="tinypic"></img></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/followedLog">Followed Logs</a>
          </li>
          <!-- <li>
            <a href="/notifications">Notifications</a>
          </li> -->
          <li>
            <a href="/uploadLog">My Journal</a>
          </li>
          <li>
            <a href="/ourProfile">Global Journal</a>
          </li>
          <li><a href="/logout">Sign Out</a></li>
        </ul>
      </nav>
    </div>
  </header>

<div class="logBook">
<div class="logBookLeft">
<div class="logForm">
  <form action="/postLog" method="POST">
    <div class="log-form-label-container">
        <label for="title" class="log-form-label">Date</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>

    <div class="log-form-label-container">
      <label for="time" class="log-form-label">Time of Day</label>
      <input type="text" class="form-control" id="time" name="time" required>
    </div>

    <div class="log-form-label-container">
      <label for="bg" class="log-form-label" >Activity(s)</label>
      <textarea class="form-control" id="bg" name="bg" required placeholder="What did you do during this time?"></textarea>
    </div>

    <div class="log-form-label-container">
      <label for="boost" class="log-form-label">Confidant / Social Stat boosts:</label>
      <textarea class="form-control" id="boost" name="boost" required></textarea>
    </div>

    <div class="log-form-label-container">
      <label for="other" class="log-form-label">Other:</label>
      <textarea class="form-control" id="other" name="other" required></textarea>
    </div> 
    <button type="submit" class="button-45" value="Upload"></button>
  </form>
</div>
</div>

<div class="logBookRight">

  <% for(let i=0; i<logs.length; i++){%>  

    <div class="logHere">
      <span class="hidden"><%= logs[i]._id %></span>
      <div class="log-entry">
        <p><%= logs[i].logUserEmail %></p>
        <h3 class="bigFont"><%= logs[i].title %></h3>
        <span>Time of Day: </span><p><%= logs[i].time %></p>
        <span>Activity(s): </span><p><%= logs[i].bg %></p>
        <span>Confidant / Social Stat Boosts: </span><p><%= logs[i].boost %></p>
        <span>Other: </span><p><%= logs[i].other %></p>
      </div>
    </div>
  <%}%> 
  <!-- <button class="rightButton">Next Log</button> -->
</div>
</div>
<script src="main.js"></script>

</body>
</html>





