<!doctype html>
<html>
<head>
    <title>Joker's Journal</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="ourLogs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5429a7e2cf.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar">something</span>
          <span class="icon-bar">else</span>
          <span class="icon-bar">here</span>
        </button>
        <a href="/profile"><img id="hat" src="img/HOME.png" class="tinypic"></img></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/followedLog">Followed Logs</a>
          </li>
          <!-- <li>
            <a href="/notifications">Notifications</a>
          </li> -->
          <li>
            <a href="/uploadLog">My Journal</a>
          </li>
          <li>
            <a href="/ourProfile">Global Journal</a>
          </li>
          <li>
            <a href="/logout">Sign Out</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

<div class="logBook">
  <div class="logBookLeft">
    <p class="introP"> The Global Journal is a collective log book created by all of you! </p>
    <p class="introP"> Click the button to generate a random log by another user!</p>
    <button class="randomButton"></button>
  </div>
  <div class="logBookRight">
    <button class="followButton"></button>
    <div id="user_id" style="display: none;"><%= log.logUser %></div>
    <p class="userEmail"><%= log.logUserEmail %></p>
    <h3 class="bigFont"><%= log.title %></h3>
    <span class="logLabel">Time of Day: </span><p><%= log.time %></p>
    <span class="logLabel">Activity(s) </span><p><%= log.bg %></p>
    <span class="logLabel">Confidant / Social Stat Boosts: </span><p><%= log.boost %></p>
    <span class="logLabel">Other: </span><p><%= log.other %></p>
    
  </div>
</div>
<script src="main.js"></script>
</body>
</html>





